<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(232, 232, 239));
  margin: 10px;
}
.head {
  min-height: 100px;
  display: flex;
  width: 100%;
  padding: 2px;
  gap: 1px;
}
.icon {
  display: flex;
  flex-basis: 20%;

  flex-direction: column;
}
.icon img {
  width: 400px;
  height: 200px;
}

.p {
  padding: 20px;
  text-align: center;
  color: rgb(28, 35, 41);
  background: linear-gradient(
    to left,
    rgb(142, 142, 202),
    rgb(139, 183, 139),
    rgb(174, 174, 111)
  );
  font-family:
    Playwrite NZ Basic,
    cursive;
}
.p h3 {
  margin-bottom: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;

  height: 600px;
}
.bar {
  display: flex;
  flex-basis: 19%;

  flex-direction: column;
  justify-content: space-between;
}
.bar .b1 {
  display: flex;

  gap: 5px;

  flex-direction: column;
}
.b2 {
  display: flex;
  flex-basis: 50%;

  background: #9cb5c7;
  justify-content: center;
}
.b2 img {
  width: 290px;
  height: 300px;
}
.b3 {
  margin-top: 2px;
  padding: 1px;
  text-align: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background: linear-gradient(to right, rgb(161, 161, 112), rgb(171, 208, 171));
}
.info {
  margin-top: 10px;
  align-content: center;
  background: rgb(234, 227, 202);
  font-family: cursive;
  font-size: 1.1rem;
  font-weight: 600;
}
.info {
  text-align: center;
  padding: 80px;
}
.ride {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #000;
  min-height: 200px;
}
.image {
  display: flex;
  flex-basis: 50%;
  height: 50px;
  border: 1px solid #000;
}
.main_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 450px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 20px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.box {
  margin-top: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 30px 20px;
  -webkit-border-radius: 30px 20px;
  -moz-border-radius: 30px 20px;
  -ms-border-radius: 30px 20px;
  -o-border-radius: 30px 20px;
}

.box .box-img img {
  width: 100%;
  height: 420px;
  border-radius: 50px 25px;
  /*object-fit: contain;
    */
  object-fit: fill;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-border-radius: 50px 25px;
  -moz-border-radius: 50px 25px;
  -ms-border-radius: 50px 25px;
  -o-border-radius: 50px 25px;
}
.box .box-text p {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  color: #7ba0a6;
}

.box:hover {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}
.box-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.feedback-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
}

.card {
  background: rgb(243, 233, 233);
  width: 300px;
  padding: 40px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.image-box {
  width: 120px;
  height: 170px;
  border-radius: 5%;

  margin: -50px auto 20px;
  border: 5px solid #66bb6a;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  color: #c9a57f;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
.home {
  padding-left: 48%;
  justify-content: center;
  margin-bottom: 30px;
}
.home a {
  text-decoration: none;
  color: #c9a57f;
  position: relative;
}
.home a::after {
  position: absolute;
  content: " ";
  background-color: #f5b942;
  height: 3px;
  width: 25%;
  top: 28px;
  left: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.home a:hover::after {
  width: 100%;
}
.last {
  margin: 32px;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  color: rgb(177, 151, 203);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ================= MOBILE RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .head {
    flex-direction: column;
  }

  .main_box {
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 48%;
  }

  .icon img {
    width: 100%;
    height: 300px;
  }

  .slider {
    height: auto;
  }

  .home {
    padding-left: 0;
    text-align: center;
  }
}
@media (width: 1024px) {
  .icon img {
    height: 300px;
  }
} /* Mobile */
@media (max-width: 576px) {
  .head {
    flex-direction: column;
  }

  .main_box {
    flex-direction: column;
    align-items: center;
  }

  .box {
    flex-basis: 100%;
  }

  .feedback-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .b2 img {
    width: 100%;
    height: auto;
  }
}
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(232, 232, 239));
  margin: 10px;
}
.head {
  min-height: 100px;
  display: flex;
  width: 100%;
  padding: 2px;
  gap: 1px;
}
.icon {
  display: flex;
  flex-basis: 20%;

  flex-direction: column;
}
.icon img {
  width: 400px;
  height: 200px;
}

.p {
  padding: 20px;
  text-align: center;
  color: rgb(28, 35, 41);
  background: linear-gradient(
    to left,
    rgb(142, 142, 202),
    rgb(139, 183, 139),
    rgb(174, 174, 111)
  );
  font-family:
    Playwrite NZ Basic,
    cursive;
}
.p h3 {
  margin-bottom: 10px;
}

.slider {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;

  height: 600px;
}
.bar {
  display: flex;
  flex-basis: 19%;

  flex-direction: column;
  justify-content: space-between;
}
.bar .b1 {
  display: flex;

  gap: 5px;

  flex-direction: column;
}
.b2 {
  display: flex;
  flex-basis: 50%;

  background: #9cb5c7;
  justify-content: center;
}
.b2 img {
  width: 290px;
  height: 300px;
}
.b3 {
  margin-top: 2px;
  padding: 1px;
  text-align: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background: linear-gradient(to right, rgb(161, 161, 112), rgb(171, 208, 171));
}
.info {
  margin-top: 10px;
  align-content: center;
  background: rgb(234, 227, 202);
  font-family: cursive;
  font-size: 1.1rem;
  font-weight: 600;
}
.info {
  text-align: center;
  padding: 80px;
}
.ride {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #000;
  min-height: 200px;
}
.image {
  display: flex;
  flex-basis: 50%;
  height: 50px;
  border: 1px solid #000;
}
.main_box {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 450px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 20px;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.box {
  margin-top: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 30px 20px;
  -webkit-border-radius: 30px 20px;
  -moz-border-radius: 30px 20px;
  -ms-border-radius: 30px 20px;
  -o-border-radius: 30px 20px;
}

.box .box-img img {
  width: 100%;
  height: 420px;
  border-radius: 50px 25px;
  /*object-fit: contain;
    */
  object-fit: fill;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-border-radius: 50px 25px;
  -moz-border-radius: 50px 25px;
  -ms-border-radius: 50px 25px;
  -o-border-radius: 50px 25px;
}
.box .box-text p {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  color: #7ba0a6;
}

.box:hover {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}
.box-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.feedback-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
}

.card {
  background: rgb(243, 233, 233);
  width: 300px;
  padding: 40px 20px 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.image-box {
  width: 120px;
  height: 170px;
  border-radius: 5%;

  margin: -50px auto 20px;
  border: 5px solid #66bb6a;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card h3 {
  color: #c9a57f;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}
.home {
  padding-left: 48%;
  justify-content: center;
  margin-bottom: 30px;
}
.home a {
  text-decoration: none;
  color: #c9a57f;
  position: relative;
}
.home a::after {
  position: absolute;
  content: " ";
  background-color: #f5b942;
  height: 3px;
  width: 25%;
  top: 28px;
  left: 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.home a:hover::after {
  width: 100%;
}
.last {
  margin: 32px;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  color: rgb(177, 151, 203);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* ================= MOBILE RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .head {
    flex-direction: column;
  }

  .main_box {
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 48%;
  }

  .icon img {
    width: 100%;
    height: 300px;
  }

  .slider {
    height: auto;
  }

  .home {
    padding-left: 0;
    text-align: center;
  }
}
@media (width: 1024px) {
  .icon img {
    height: 300px;
  }
} /* Mobile */
@media (max-width: 576px) {
  .head {
    flex-direction: column;
  }

  .main_box {
    flex-direction: column;
    align-items: center;
  }

  .box {
    flex-basis: 100%;
  }

  .feedback-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .b2 img {
    width: 100%;
    height: auto;
  }
}
>>>>>>> 0130aff61ede769bcdfe939d9deec485583a8e67
